################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/113web.v12.suo
/113web.sln
